<!DOCTYPE html>
<html lang="cs">
    <head>
        <meta charset="UTF-8">
        <title>Přičítání jedničky</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css')}}">
    </head>
    <body>
        <h1>Přičítání jedničky</h1>
        <form method="post">
            <label for="number">Zadejte číslo:</label>
            <input type="number" name="number" required>
            <button type="submit">Odeslat</button>
        </form>

        {% if result is not none %}
            <h2>Výsledek: {{ result }}</h2>
        {% endif %}
    </body>
</html>